@model IEnumerable<MvcTechdaysBlog.Models.Article>

@{
    ViewBag.Title = "Index";
}

<script type="text/javascript">
    $(function () {
        $(".delete-button").click(function () {
            if (confirm("Sure you want to delete this?")) {
                var id = $(this).data("id");
                var button = $(this);

                $.ajax({
                    url: "@Url.Action("Delete")",
                    type: "POST",
                    data: { Id: id },
                    success: function () {
                        button.closest("tr").remove();
                    }
                });
            }
        });
    });
</script>

<h2>Index</h2>

<table>
	<thead>
		<tr>
			<th>
				Title
			</th>
			<th>
				Description
			</th>
			<th>
				Content
			</th>
			<th>
				Url
			</th>
			<th>
				Date
			</th>
			<th></th>
		</tr>
    </thead>
	<tbody>
@foreach (var item in Model) {
		<tr>
			<td>
				@item.Title
			</td>
			<td>
				@item.Description
			</td>
			<td>
				@item.Content
			</td>
			<td>
				@item.Url
			</td>
			<td>
				@String.Format("{0:dd.MM.yyyy}", item.Date)
			</td>

			<td style="text-align: right;">
				@Html.ActionLink("Edit", "Edit", new { id=item.Id }, new { @class="fancy-button" }) <div class="fancy-button delete-button" data-id="@item.Id">Delete</div>
			</td>
		</tr>
}
	</tbody>
</table>
<p>
    @Html.ActionLink("New", "Create", null, new { @class="fancy-button" })
</p>

